.columns > div {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.columns.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }

    .columns-wrapper {
        padding: 0 24px;
    }
}

@media (width <= 900px) {
    .columns > div {
        padding: 0px 24px;
    }
}
