.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 900;
}
.nav-container .nav-logo {
    width: 60px;
    height: 60px;
}
.shopnow-btn {
    color: #2e4343;
    border: 1px solid #2e4343;
    background: #fff;
    padding: 0.625rem 1.25rem;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.shopnow-btn:hover {
    background: #2e4343;
    color: #fff;
}
.nav-links a {
    border-radius: 0.375rem;
    padding: 0.4375rem 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    color: #2e4343;
}
.nav-links a:hover {
    background: #edeeee;
}
.tatnix-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.nav-container .nav-title {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    color: #2e4343;
}

.nav-container .nav-title div {
    text-align: center;
    border-radius: 0.375rem;
    padding: 1.3rem 1rem 1.3rem 1rem;
    font-size: 25px;
}
